@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@700&family=Pacifico&display=swap');
*{
  box-sizing: border-box;
}

body{
  margin: 0 5%;
  background-color: rgb(14, 9, 39);
}

#logo{
  text-align: center;
  margin: 5px 0;
  color: #fff;
}

#imglogo{
  width: 70px;
  height: 70px;
}

#thumb{
  max-width: 350px;
  height: 480px;
  background-image: url('./img/thumb1.jpg');
  background-size: cover;
  border-radius: 10px;
  margin: 0 auto 10px;
}

#themeicon{
  width: 30px;
  height: 30px;
  float: right;
  cursor: pointer;
  margin-top: 21px;
}

#footer{
  text-align: center;
  font-size: medium;
  font-family: 'Bellota', cursive;
  color: white;
}

.footer{
  text-decoration: none;
  color:gray;
  margin: 0 auto;
}

#about{
  color: gray;
  background-color: rgb(251, 243, 252);
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  padding: 10px;
  border-radius: 10px;
  max-width: 350px;
  display: flex;
  margin: 0 auto 0;
}

.download {
  background-color: purple;
  font-family: 'Bellota', cursive;
  cursor: pointer;
  color: #fff;
  max-width: 350px;
  border: 1px purple solid;
  border-radius: 20px;
  font-size: larger;
  letter-spacing: 2px;
  padding: 10px 30px;
  margin: 10px auto;
}

#download {
  display: flex;
}

button:focus {
  color: purple;
}

.download:focus {
  outline: 1px solid purple;
  background-color: white;
  color: purple;
}

img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  height: 350px;
  max-width: 350px;
  overflow: hidden;
  display: flex;
  margin: 0 auto;
  border-radius: 10px;
}

.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
  border-radius: 10px;
}

#musicplayer{
  margin: 0 auto 0;
  display: grid;
}

.playerhead{
  color: #ffffff;
  font-size: large;
  font-family: 'Bellota', cursive;
  margin-top: 0;
}

.btncontainer{
  display: flex;
}

.buttons{
  margin: 0 auto;
}

p{
  text-align: center;
}

p#title{
  font-size: x-large;
  margin-bottom: 5px;
  color: #fff;
}

p#artiste{
  font-family: 'Bellota', cursive;
  margin-top: 0;
  margin-bottom: 5px;
  color: #fff;
}

button{
  border: none;
  background-color: rgb(14, 9, 39);
  font-size: x-large;
  color: gray;
  cursor: pointer;
  margin: 0 0 10px;
}

#prev, #next{
  visibility: hidden;
}

#play{
  font-size: 3em;
}

.songimg{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-size: contain;
  background-color: gray;
  margin: 0 auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.centre{
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: whitesmoke;
}